
.main-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30vh 30vh 1fr;
    position: relative;
    width: 100vw;
    height: 100vh;


    .cardholder {
        background-color: rgba(45, 45, 45, 0.9);
        position: absolute;
        top: 0;
        overflow: scroll;
        width: 100vw;
        height: 100vh;
        @media screen and (min-width: 600px) {
            width: 500px;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            height: 80vh;
            border-radius: 15px;
            box-shadow: 5px 10px 8px #555555;
        }

        .close {
            position: fixed;
            right: 10px;
            padding: .3rem .8rem;
            font-size: 2rem;
            font-weight: bold;
        }
    
        .card {
            color: white;
            background-color: rgb(33, 33, 33);
            border-radius: 15px;
            padding: 2rem 1rem;
            margin: 4rem 2rem;
            font-size: 1.7rem;
            font-family: 'Noto Sans JP', sans-serif;
            text-align: center;


            h3 {
                color: #c02400;
                letter-spacing: 1px;
                font-size: 2.5rem;
            }
    
            h4 {
                margin-bottom: 2rem;
                color: #c04d33;
            }

            .checked {
                color: orange;
            }

            .summary {
                margin-top: 2rem;
            }

            .difficulty {
                span {
                    img {
                        position: relative;
                        top: 1px;
                        left: 8px;
                    }
                }
            }

            button {
                margin-top: 3rem;
                padding: 10px 15px;
                font-size: 1.7rem;
                font-family: 'Roboto Condensed', sans-serif;
                text-transform: uppercase;
                background-color: #e66042;
                border-radius: 20px;

                a {
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
}

header {
    grid-row: 1/2; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
    h1 {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 15rem;
        transform: scale(1.06);
        overflow: hidden;

        @media screen and (max-width: 550px) {
            font-size: 11rem;
        }

        @media screen and (max-width: 420px) {
            font-size: 11rem;
            transform: scale(1.15);
        }

        @media screen and (max-width: 375px) {
            font-size: 10rem;
            transform: scale(1.15);
        }

        @media screen and (max-width: 370px) {
            font-size: 10rem;
            transform: scale(1.12);
        }

        @media screen and (max-width: 320px) {
            font-size: 8.8rem;
        }

        @media screen and (max-width: 280px) {
            font-size: 7.5rem;
            transform: scale(1.15);
        }
    }
}

.form-container {
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 2rem;
    position: relative;

    @media screen and (min-width:600px) {
        transform: translateY(25%);
    }

    #form {
        display: flex;
        flex-direction: column;
        align-items: center;

        .no-results {
            font-size: 2rem;
            margin-bottom: 1rem;
            font-family: 'Noto Sans JP', sans-serif;
        }

        .user-location {
            background-image: url(./images/pin.png);
            background-position: 10px 5px;
            background-repeat: no-repeat;
            background-size: 30px 30px;
            padding: 12px 10px;
            padding-left: 50px;
            font-size: 1.5rem;
            border-radius: 10px;
            border: 1px solid black;
        }

        .user-search {
            margin-top: 1rem;
            font-size: 2rem;
            padding: 5px;
            background-color: #c02400;
            color: rgb(255, 255, 255);
            font-family: 'Roboto Condensed', sans-serif;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            width: 150px;
            border-radius: 20px;
        }

        .user-search:focus {
            outline: none;
        }
    }
}

.bckimg-container {
    grid-row: 3/4;
    position: fixed;
    bottom: 0;
    z-index: -1;
    overflow: hidden;
    

    @media screen and (min-width: 520px) {
        height: 65vh;
        top: 15.29vh;

        #banner{
            display: none;
        }

        background-image: url(./images/desktop_pic.JPG);
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        background-size: cover;


    }
    
    .background-img{
        width: 100vw;
        transform: translateY(5px);
        

        img {
            object-fit: contain;
            width: 100%;
        }
    }
}

.hidden {
    display: none;
}